{% extends 'my_quiz/index.html.twig' %}

{% block body %}
	{% if not app.user %}
		{% include "my_quiz/rules.html.twig" %}
	{% else %}
	<div class="test" id="contain">
		<div class="quiz_box">
			<header>
				<div class="title"><h1>{{ quiz.title }} - <span id="nbQuestionLabel"></span></h1></div>
				<div class="timer float-end">
					<div id="ad" class="time_left_text">Temps restant</div>
					<div class="timer_sec">15</div>
				</div>
			</header>
			<div class="time_line"></div>
			<hr>
			{# Ici on envoie les réponses aux question a la page scro via la méthode POST #}
			<form action="{{path('quiz_score',{'id' : quiz.id})}}" method="post" > 
			<section>
				{% for question in quiz.questions %}
					<div id="question_{{loop.index}}" data-index-number="{{loop.length}}">
					{% if question.image %}
						<img src="../../question_images/{{ question.image }}"></img>
					{% endif %}
					
					<center><h1>Question {{loop.index}} : {{ question.question }}</h1></center>
					<hr>
					<div class="input-group mb-3">
					
					<input type="text" id="rep" class="form-control" placeholder="Réponse" aria-label="Réponse" name="question{{loop.index}}">
					</div>
					<h1 style="display:none">{{ question.reponse }}</h1>
					</div>
				{% endfor %}
			</section>
				<input class="btn btn-success text-wrap" value="Consulter mon score" type="submit" id="envoyer" disabled></input>
			</form>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
<script>
	const time_line = document.querySelector(".time_line");
	const timeText = document.querySelector(".timer .time_left_txt");
	const timeCount = document.querySelector(".timer .timer_sec");
	const questions = document.querySelectorAll("div[id^='question_']");
	var nbQ = questions[0].getAttribute('data-index-number');
	console.log(nbQ)
	

	function startTimer(time,time2){
			let counter = setInterval(timer, 1000);
			function timer(){
			timeCount.textContent = time; // Change la valeur de timeCount avec la valeur du temps
			time--; //décremente le timer
				if(time < 0){ //si le timer est < 0
					clearInterval(counter); //clear le counter
				}
			}

			counterLine = setInterval(timer2, 29,2);
			function timer2(){
			time2 += 1; //ajoute 1 au timer
			time_line.style.width = time2*0.1875 + "%"; //incrémente la width de time_line px par la valeur du temps
			if(time2 > 549){ //si le temps est >549
				clearInterval(counterLine); //clear le counterLine
				time_line.style.width = "0%"
				time2=0;
			}	
		}
	}

	//counter1= 
	var nbQTotal = nbQ*1000;
	console.log(nbQTotal);
	console.log(document.getElementById("envoyer"));

	function startQutesion(test){
	let counterQuestion = setInterval(questiont,16000 )
			function questiont(){
				test+=1;
				// Permmet de gérer l'affichage des questions toutes les 15 secondes
				// toute les questions sont masqué au chargement de la page
				document.querySelector("#nbQuestionLabel").innerText=test+"/"+nbQ;
				if (document.getElementById("question_"+(test-1)) != null){	// la x-1 question n'est pas affiché
					document.getElementById("question_"+(test-1)).style.display= "none";
				}
				if(document.getElementById("question_"+test) != null){ // la question x apparait
					document.getElementById("question_"+test).style.display="initial";
				}
				
				if(document.getElementById("question_"+(test+1)) != null){ // la question x+1 n'est pas affiché
					document.getElementById("question_"+(test+1)).style.display= "none";
				}
				
				if (test>nbQ){ // lorsque toutes les questions sont apparu
					clearInterval(counterQuestion); // clear le counter du chronometre
					document.getElementById("envoyer").style.display="initial"; // le bouton consulter le score apparait
					document.getElementById("envoyer").disabled = false;
					time_line.style.display = "none"; // la time_line disparait
					document.querySelector("#nbQuestionLabel").innerText=" Terminé";
				}
			}	
	}
	
	

	window.onload = () => {
		startQutesion(0);
		counter1 = setInterval(startTimer,16000,15,0);
		setTimeout(clearInterval,nbQ*16000,counter1);
		if(nbQ>1){
			document.querySelector("#nbQuestionLabel").innerText=nbQ+" Questions";
		}else{
			document.querySelector("#nbQuestionLabel").innerText=nbQ+" Question";
		}
		
	}
	

</script>
{% endblock %}