<!DOCTYPE html>
<html lang="en" class="bg-danger bg-gradient" >

	<head>
		<title>MyQuizzz</title>
		<meta charset="utf-8">
		<link href="{{asset('css/style.css')}}" rel="stylesheet">
		<link rel="icon" href="{{asset('img/logo.png')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/ba2033b013.js" crossorigin="anonymous"></script>

		<script src="{{asset('script/bootstrap.bundle.min.js')}}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>

	<main class="bg-danger bg-gradient">
		<header class="bg-white">
			<nav class="navbar navbar-expand-xl">
				<div class="container-fluid">
					<a class="navbar-brand text-dark" href="/">
						<img src="{{asset('img/logo.png')}}" alt="" width="60" height="60" class="d-inline-block align-text-right">
						<span class="font">MyQuizzz</span> 
					</a>

					<form class="form-inline">
						{% if not app.user %}
							<a href="{{ path('security_registration') }}">
								<button type="button" class="btn btn-outline-success btn-lg">Créer un compte</button>
							</a>
							<a href="{{ path('security_login') }}">
								<button type="button" class="btn btn-outline-success btn-lg">Se connecter</button>
							</a>
						{% else %}
							<a href="{{ path('security_logout') }}">
								<button type="button" class="btn btn-outline-danger btn-lg">Déconnexion</button>
							</a>
						{% endif %}
					</form>
				</div>
			</nav>
		</header>
		<div class="parallax">
			<div id="titrepara">
				<h1>
					MyQuizzz
				</h1>
			</div>
		</div>
		<br>
		<div class="container"> {% block body %}{% endblock %}
			</div>
			<br><br><br>
			{% block javascripts %}{% endblock %}
		</main>

		<!-- Footer -->
		<footer
			class="page-footer font-small bg-light p-2">

			<!-- Copyright -->
			<div class="footer-copyright text-center text-muted">© 2022 Copyright : Adesh CANNOU
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
	</html>
